<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 上下文，用于区分本应用和其他应用 -->
    <contextName>hadata-service:jztey</contextName>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>

    <!-- 打印到控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 按天生成日志文件夹，只存放当天的日志 -->
    <appender name="access_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <!-- 按条件滚动记录日志文件，这里TimeBasedRollingPolicy就是按时间测试-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/%d{yyyy-MM-dd}/access.log</FileNamePattern>
            <maxHistory>90</maxHistory> <!-- 只保留最近90天的文件 -->
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 不打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- 指定打印错误日志 -->
    <appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/%d{yyyy-MM-dd}/error.log</FileNamePattern>
            <maxHistory>30</maxHistory> <!-- 只保留最近60天的文件 -->
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="org.shrek.hadata.service.iwms2.mapper" level="debug" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <!-- 开发环境下的日志配置 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="stdout" />
            <appender-ref ref="error_log" />
        </root>
    </springProfile>

    <!-- 生产环境下的日志配置 -->
    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="access_log" />
            <appender-ref ref="error_log" />
        </root>
    </springProfile>

    <!-- 测试环境下的日志配置 -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="access_log" />
            <appender-ref ref="error_log" />
        </root>
    </springProfile>

</configuration>