<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shrek.hadata.service.hwms.mapper.TPoMasterMapper" >
  <resultMap id="BaseResultMap" type="org.shrek.hadata.service.hwms.model.TPoMaster" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="po_number" property="poNumber" jdbcType="NVARCHAR" />
    <id column="wh_id" property="whId" jdbcType="NVARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="vendor_code" property="vendorCode" jdbcType="NVARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="NVARCHAR" />
    <result column="display_po_number" property="displayPoNumber" jdbcType="NVARCHAR" />
    <result column="client_code" property="clientCode" jdbcType="NVARCHAR" />
    <result column="residential_flag" property="residentialFlag" jdbcType="NVARCHAR" />
    <result column="ship_from_name" property="shipFromName" jdbcType="NVARCHAR" />
    <result column="ship_from_addr1" property="shipFromAddr1" jdbcType="NVARCHAR" />
    <result column="ship_from_addr2" property="shipFromAddr2" jdbcType="NVARCHAR" />
    <result column="ship_from_city" property="shipFromCity" jdbcType="NVARCHAR" />
    <result column="ship_from_state" property="shipFromState" jdbcType="NVARCHAR" />
    <result column="ship_from_postal_code" property="shipFromPostalCode" jdbcType="NVARCHAR" />
    <result column="ship_from_country_code" property="shipFromCountryCode" jdbcType="NVARCHAR" />
    <result column="ship_from_attention" property="shipFromAttention" jdbcType="NVARCHAR" />
    <result column="ship_from_phone" property="shipFromPhone" jdbcType="NVARCHAR" />
    <result column="ship_from_fax" property="shipFromFax" jdbcType="NVARCHAR" />
    <result column="carrier_scac" property="carrierScac" jdbcType="NVARCHAR" />
    <result column="carrier_mode" property="carrierMode" jdbcType="NVARCHAR" />
    <result column="service_level" property="serviceLevel" jdbcType="NVARCHAR" />
    <result column="freight_terms" property="freightTerms" jdbcType="NVARCHAR" />
    <result column="lock_flag" property="lockFlag" jdbcType="NVARCHAR" />
    <result column="vendor_name" property="vendorName" jdbcType="NVARCHAR" />
    <result column="active_flag" property="activeFlag" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="NVARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy" jdbcType="NVARCHAR" />
    <result column="remark" property="remark" jdbcType="NVARCHAR" />
    <result column="close_type" property="closeType" jdbcType="NCHAR" />
    <result column="interface_id" property="interfaceId" jdbcType="NVARCHAR" />
    <result column="is_send_back" property="isSendBack" jdbcType="CHAR" />
  </resultMap>
</mapper>